.board(data-ng-controller="BoardCtrl")
  %h1
    %a(href="{{url}}") {{url}}
  .message {{message}}
  %table
    %thead
      %th タイトル
      %th レス数
      %th 作成日時
    %tbody
      %tr(data-ng-repeat="boardEntry in boardEntries.data" data-ng-click="move(boardEntry.url)")
        %td {{boardEntry.title}}
        %td {{boardEntry.resCount}}
        %td {{dateToString(boardEntry.date)}}
