.index(data-ng-controller="IndexCtrl")
  %h1 view/index
  .message {{message}}
  %ul
    %li(data-ng-repeat="category in bbsIndex.categories")
      {{category.name}}
      %ul
        %li(data-ng-repeat="board in category.boards")
          %a(href="{{board.url}}" target="_blank") {{board.name}}

