.thread(data-ng-controller="ThreadCtrl")
  %h1
    %a(href="{{url}}") {{thread.title}}
  .message
    {{message}}
  %article(data-ng-repeat="threadEntry in thread.data")
    {{threadEntry.title}}
    %div(data-bbsmessage)
