!!! 5
%html(data-ng-app="app" data-ng-csp)
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 3
    %link(rel="stylesheet" href="style.css")
    %script(src="lib/jquery/jquery.min.js?v=#{Random.rand}")
    %script(src="lib/angularjs/angular.min.js?v=#{Random.rand}")
    %script(src="script.js?v=#{Random.rand}")
  %body
    .index(data-ng-controller="IndexCtrl")
      %h1 PanelContainerのテスト
      .panelContainer(data-panelcontainer data-url="view:index")
        %div {{url}}
        %nav
          %button.prev(data-ng-click="prev()") prev
          %button.next(data-ng-click="next()") next
          %button(data-ng-click="changeUrl('view:index')") index
          %button(data-ng-click="changeUrl('view:testA')") testA
          %button(data-ng-click="changeUrl('view:testB')") testB
          %button(data-ng-click="changeUrl('view:testC')") testC
        .content
