!!! 5
%html(data-ng-app="app" data-ng-csp)
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 3
    %link(rel="stylesheet" href="style.css")
    %script(src="lib/jquery/jquery.min.js?v=#{Random.rand}")
    %script(src="lib/angularjs/angular.min.js?v=#{Random.rand}")
    %script(src="script.js?v=#{Random.rand}")
  %body
    .index(data-ng-controller="IndexCtrl")
      .panelContainer(data-panelcontainer data-url="view:index")
        %nav
          %button.prev(data-ng-click="prev()" data-ng-disabled="history.current === 0") prev
          %button.next(data-ng-click="next()" data-ng-disabled="history.stack.length === history.current + 1") next
        .content(data-ng-include="templateUrl")
